@model List<Application.Dtos.GatewayDto>

@{
    ViewData["Title"] = "Gateways";
}

<div class="text-center">
    <h1 class="display-4">Gateways</h1>
</div>

<a class="btn btn-success" href="@Url.Action("Create","Gateway")">@Domain.Localization.Resource.btn_Add</a>

<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Ip</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Ipv4Address</td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Gateway",new { id=item.Id})">@Domain.Localization.Resource.btn_Details</a>
                <a class="btn btn-secondary" href="@Url.Action("Edit","Gateway",new { id=item.Id})">@Domain.Localization.Resource.btn_Edit</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Gateway",new { id=item.Id})">@Domain.Localization.Resource.btn_Delete</a>
            </td>

        </tr>
    }
</table>
