@model Application.Dtos.CursoDtoForCreate


<form action="@Url.Action("Create","Curso")" method="post">

    <div class="row">
        <div class="form-group" col-md-4>
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group" col-md-4>
            <label asp-for="Descripcion" class="control-label"></label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <div class="form-group" col-md-4>
            <label asp-for="EscuelaId" class="control-label"></label>
            <select asp-for="EscuelaId" asp-items="@ViewBag.Escuelas">
                <option disabled selected>Seleccione Escuela</option>
            </select>
            <span asp-validation-for="EscuelaId" class="text-danger"></span>
        </div>
    </div>
    <button class="btn btn-success" type="submit">@Domain.Localization.Resource.btn_Add</button>
    <a class="btn btn-secondary" href="@Url.Action("Create","Curso")">@Domain.Localization.Resource.btn_Cancel</a>
</form>
