@model List<Application.Dtos.CursoDto>

@{
    ViewData["Title"] = "Cursos";
}

<div class="text-center">
    <h1 class="display-4">Cursos</h1>
</div>

<a class="btn btn-success" href="@Url.Action("Create","Curso")">@Domain.Localization.Resource.btn_Add</a>

<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Escuela</th>
        <th>Estudiantes Matriculados</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>@item.Escuela?.Nombre</td>
            <td>@item.Matriculas.Count()</td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Curso",new { id=item.Id})">@Domain.Localization.Resource.btn_Details</a>
                <a class="btn btn-secondary" href="@Url.Action("Edit","Curso",new { id=item.Id})">@Domain.Localization.Resource.btn_Edit</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Curso",new { id=item.Id})">@Domain.Localization.Resource.btn_Delete</a>
            </td>

        </tr>
    }
</table>
