@model Application.Dtos.EscuelaDto

@{
    ViewData["Title"] = "Borrar Escuela";
}

<div class="text-center">
    <h1 class="display-4">@string.Format(Domain.Localization.Resource.display_DetailsOf,"") Escuela</h1>
    <h3 class="display-4">@Domain.Localization.Resource.display_ConfirmOnDelete</h3>
</div>

<div class="row">
    <div class="col-12  col-md-4">
        <b><label asp-for="Nombre"></label> </b>
        @Model.Nombre
    </div>
    
</div>
<div class="row">
    <a class="btn btn-secondary" href="/Escuela/Index">@Domain.Localization.Resource.btn_Cancel</a>
    <a class="btn btn-danger" href="/Escuela/DeleteConfirm/@Model.Id">@Domain.Localization.Resource.btn_Delete</a>
</div>