@model List<Application.Dtos.EscuelaDto>

@{
    ViewData["Title"] = "Escuelas";
}

<div class="text-center">
    <h1 class="display-4">Escuelas</h1>
</div>

<a class="btn btn-success" href="@Url.Action("Create","Escuela")">Adicionar</a>

<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Cursos</th>
        <th>Estudiantes</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Cursos.Count()</td>
            <td>@item.Estudiantes.Count()</td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Escuela",new { id=item.Id})">Detalles</a>
                <a class="btn btn-secondary" href="@Url.Action("Edit","Escuela",new { id=item.Id})">Editar</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Escuela",new { id=item.Id})">Eliminar</a>
            </td>

        </tr>
    }
</table>
