@model Application.Dtos.MatriculaDto

@{
    ViewData["Title"] = "Borrar Matricula";
}

<div class="text-center">
    <h1 class="display-4">@string.Format(Domain.Localization.Resource.display_DetailsOf,"") Matricula</h1>
    <h3 class="display-4">@Domain.Localization.Resource.display_ConfirmOnDelete</h3>
</div>

<div class="row">
    <div class="col-12  col-md-4">
        <b><label asp-for="Curso"></label> </b>
        @Model.Curso?.Nombre
    </div>
    <div class="col-12  col-md-4">
        <b><label asp-for="Estudiante"></label> </b>
        @Model.Estudiante?.Nombre
    </div>
    <div class="col-12  col-md-4">
        <b><label asp-for="NotaFinal"></label> </b>
        @Model.NotaFinal
    </div>
</div>
<div class="row">
    <a class="btn btn-secondary" href="/Matricula/Index">@Domain.Localization.Resource.btn_Cancel</a>
    <a class="btn btn-danger" href="/Matricula/DeleteConfirm/@Model.Id">@Domain.Localization.Resource.btn_Delete</a>
</div>