@model List<Application.Dtos.MatriculaDto>

@{
    ViewData["Title"] = "Matriculas";
}

<div class="text-center">
    <h1 class="display-4">Matriculas</h1>
</div>

<a class="btn btn-success" href="@Url.Action("Create","Matricula")">@Domain.Localization.Resource.btn_Add</a>

<table style="width:100%">
    <tr>
        <th>Curso</th>
        <th>Estudiante</th>
        <th>Nota Final</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Curso?.Nombre</td>
            <td>@item.Estudiante?.Nombre</td>
            <td>@item.NotaFinal</td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Matricula",new { id=item.Id})">@Domain.Localization.Resource.btn_Details</a>
                <a class="btn btn-secondary" href="@Url.Action("Edit","Matricula",new { id=item.Id})">@Domain.Localization.Resource.btn_Edit</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Matricula",new { id=item.Id})">@Domain.Localization.Resource.btn_Delete</a>
            </td>

        </tr>
    }
</table>
