@model Application.Dtos.CasaDto

@{
    ViewData["Title"] = "Detalles Casa";
}

<div class="text-center">
    <h1 class="display-4">@string.Format(Domain.Localization.Resource.display_DetailsOf,"") Casa</h1>
</div>

<div class="row">
    <div class="col-12  col-md-4">
        <b><label asp-for="Color"></label> </b>
        @Model.Color
    </div>
    <div class="col-12  col-md-4">
        <b><label asp-for="CantidadCuartos"></label> </b>
        @Model.CantidadCuartos
    </div>
</div>
<div class="row">
    <a class="btn btn-secondary" href="/Casa/Index">@Domain.Localization.Resource.btn_Cancel</a>
    <a class="btn btn-danger" href="/Casa/Delete/@Model.Id">@Domain.Localization.Resource.btn_Delete</a>
</div>