@model List<Application.Dtos.CasaDto>

@{
    ViewData["Title"] = "Casas";
}

<div class="text-center">
    <h1 class="display-4">Casas</h1>
</div>

<a class="btn btn-success" href="@Url.Action("Create","Casa")">Adicionar</a>

<table style="width:100%">
    <tr>
        <th>Color</th>
        <th>Cant. Cuartos</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Color</td>
            <td>@item.CantidadCuartos</td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Casa",new { id=item.Id})">Detalles</a>
                <a class="btn btn-secondary" href="@Url.Action("Edit","Casa",new { id=item.Id})">Editar</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Casa",new { id=item.Id})">Eliminar</a>
            </td>

        </tr>
    }
</table>
