@model List<Application.Dtos.CategoriaDto>

@{
    ViewData["Title"] = "Categorias";
}

<div class="text-center">
    <h1 class="display-4">Categorias</h1>
</div>

<a class="btn btn-success" href="@Url.Action("Create","Categoria")">Adicionar</a>

<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Categoria",new { id=item.Id})">Detalles</a>
                <a class="btn btn-secondary" href="@Url.Action("Edit","Categoria",new { id=item.Id})">Editar</a>
                <a class="btn btn-danger" href="@Url.Action("Delete","Categoria",new { id=item.Id})">Eliminar</a>
            </td>

        </tr>
    }
</table>
